.root {
    -fx-font-family: "Huninn";
}

.screen {
    -fx-background-color: linear-gradient(
        to bottom,
        #102447,
        #17365f 62%,
        #214c61
    );
}

.home-screen {
    -fx-background-image: url("../images/home-background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.hint {
    -fx-font-size: 14px;
    -fx-text-fill: #a9bfd9;
}

.button {
    -fx-cursor: hand;
    -fx-font-size: 18px;
    -fx-padding: 13px 34px;
    -fx-background-radius: 30px;
}

.game-screen {
    -fx-background-color: #102447;
}

.story-screen {
    -fx-background-image: url("../images/story-background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.game-over-screen {
    -fx-background-image: url("../images/game-over-background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.success-screen {
    -fx-background-image: url("../images/success-background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.custom-button {
    -fx-min-width: 176px;
    -fx-font-family: "Lilita One";
    -fx-font-size: 24px;
    -fx-padding: 12px 28px;

    -fx-background-color: linear-gradient(
        to bottom,
        #ffbd24 0%,
        #ffad00 65%,
        #f59a00 100%
    );
    -fx-background-radius: 16px;

    -fx-border-color: #f5a900;
    -fx-border-radius: 16px;
    -fx-border-width: 3px;

    -fx-text-fill: #08275a;

    -fx-effect: dropshadow(gaussian, rgba(90, 42, 0, 0.65), 10, 0.25, 0, 5);
}

.custom-button:hover {
    -fx-background-color: linear-gradient(
        to bottom,
        #ffd05a 0%,
        #ffbd20 55%,
        #ffa500 100%
    );

    -fx-border-color: #ffd34d;

    -fx-effect: dropshadow(gaussian, rgba(255, 190, 30, 0.65), 16, 0.35, 0, 3);

    -fx-translate-y: -2px;
}

.custom-button:pressed {
    -fx-background-color: linear-gradient(to bottom, #e99900 0%, #d98200 100%);

    -fx-border-color: #c77800;

    -fx-effect: innershadow(gaussian, rgba(100, 45, 0, 0.6), 8, 0.35, 0, 3);

    -fx-translate-y: 3px;
}

.info-panel {
    -fx-background-color: #091a36;
    -fx-alignment: center-left;
}

.info-panel .label {
    -fx-font-size: 16px;
    -fx-text-fill: #e8f5ff;
}
